backend (n8n)/Release Details API.json
{
  "name": "Release Details API",
  "nodes": [
    {
      "parameters": {
        "path": "release-details",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "32fb6f78-8724-43b4-afe5-272a2751f0e7",
      "name": "Webhook",
      "webhookId": "6ec90533-c259-4b14-befd-b3e26420b763",
      "credentials": {
        "httpHeaderAuth": {
          "id": "bk108bqD9L0ByTnd",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "collection": "release_history",
        "options": {
          "limit": 100,
          "sort": "{\n  \"timestamp\": -1\n}"
        }
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "90a1d666-07b6-4bf7-8e1b-75320974aa73",
      "name": "Find documents",
      "credentials": {
        "mongoDb": {
          "id": "cUxIk9YqWdCKB3jN",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        416,
        0
      ],
      "id": "74eaa2ee-842c-4c98-9916-2ec9007e18ea",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Find documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find documents": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0e516497-512a-4f5c-8136-e013a25114cd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0be5121106b8169345c4aac5834078a57298f091fee8c2fc99e2f6d229715cb4"
  },
  "id": "jQjDYylPNdtIJ0H4",
  "tags": []
}