backend (n8n)/Release History API.json
{
  "name": "Release History API",
  "nodes": [
    {
      "parameters": {
        "path": "release-history",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "449f4adb-5aaa-4ffe-b177-8c6c50ea8938",
      "name": "Webhook",
      "webhookId": "81759ff4-2a4f-475b-ad84-67c5bb609e34",
      "credentials": {
        "httpHeaderAuth": {
          "id": "bk108bqD9L0ByTnd",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "collection": "release_history",
        "options": {
          "limit": 50,
          "sort": "{\n  \"timestamp\": -1\n}"
        }
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "15047c55-dcbd-450f-aba9-1f7566068b4f",
      "name": "Find documents",
      "credentials": {
        "mongoDb": {
          "id": "cUxIk9YqWdCKB3jN",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        640,
        0
      ],
      "id": "fdfa8e77-84ea-4010-a3b6-d0ac900c8142",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "const releases = $input.all().map(item => item.json);\n\nreturn {\n  releases,\n  total: releases.length\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "1ddb7430-c433-437a-a0b8-6ae7a847ff93",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Find documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find documents": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "75b52e57-1bd7-4cfb-b8e3-4fb9b61db15e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0be5121106b8169345c4aac5834078a57298f091fee8c2fc99e2f6d229715cb4"
  },
  "id": "RJkLOzv95iiGXO6M",
  "tags": []
}